* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
}

html, body, .top-con {
    width: 100%;
    height: 100vh;
}

div {
    border: solid 2px black;
}

li {
    list-style: none;
}

.center {
    place-items: center;
}

.top-con {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template: 100px 1fr / 1fr;
}

.dashboard {
    display: flex;
    padding: 15px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

.main {
    display: grid;
    grid-template: 200px 1fr / 1fr;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    padding-left: 20px;
}

.h-top, .h-bottom {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

.searchbar {
    display: flex;
}

.login {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.hi {
    display: flex;
    gap: 10px;
}

.actions {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
}

.content {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

.content-left {
    display: grid;
    grid-template: 50px 1fr / 1fr;
    padding-bottom: 50px;
}

.main-content {
    padding: 15px;
    display: grid;
    gap: 15px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.article {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.article-action {
    margin-top: auto;
    align-self: flex-end;
}

.side-content {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    padding-bottom: 50px;
}

.side-article {
    display: grid;
    grid-template: 50px 1fr / 1fr;
    padding: 0 0 15px 0;
}

.announcements {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
}

.announcements > div {
    padding: 15px;
}

.announcements > div > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.trending {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
}

.trending > div {
    display: flex;
    gap: 10px;
    padding: 5px;
}