* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 0;
    min-width: 0;
    font-family: 'Albert Sans', sans-serif;
}

:root {
    --accent-color: #919191;
    --background-color: #f1f1f1;
    --shadow-color: #c7c7c7;
}

html, body, .top-con {
    width: 100%;
    height: 100vh;
}

/*div {
    border: solid 2px black;
}*/

li {
    list-style: none;
}

h4 {
    font-size: 18px;
}

h3 {
    font-size: 22px;
}

.center {
    place-items: center;
}

.article-shadow {
    border-radius: 8px;
    box-shadow: 2px 4px 4px var(--shadow-color);
    border-left: 8px solid #bbbbbb ;
}

.side-article-shadow {
    border-radius: 8px;
    box-shadow: 2px 4px 4px var(--shadow-color);
}

.top-con {
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

.sidebar {
    display: grid;
    grid-template: 100px 1fr / 1fr;
    background-color: var(--accent-color);
    padding-left: 15px;
}

.sidebar li {
    color: white;
}

.dashboard {
    display: flex;
    padding: 15px;
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    gap: 0.3em;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 46px;
    padding: 15px;
    font-weight: 400;
    font-size: 1.7rem;
}

.nav-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav li {
    display: flex;
    gap:.5em; 
}

.nav li>svg, .dashboard>svg {
    width: 1em;
    height: auto;
    fill: white;
}

.main {
    display: grid;
    grid-template: 200px 1fr / 1fr;
}

.header {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    padding-left: 20px;
    box-shadow: 0 4px 4px var(--shadow-color);
    z-index: 1;
}

.h-top, .h-bottom {
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

.searchbar {
    display: flex;
    gap: 0.5em;
    padding: 15px;
}

.searchbar input {
    flex: 1;
    background-color: var(--background-color);
    height: 2.2em;
    border: 1px solid var(--accent-color);
    border-radius: 2em;
}

.h-top svg {
    width: 2em;
    height: auto;
}

.login {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px 15px;
}

.login p {
    font-size: 1.5em;
    font-weight: 600;
}

.hi {
    display: flex;
    gap: 20px;
    padding: 15px;
}

.hi-text > p:first-child {
    font-size: 1em;
    font-weight: 600;
}

.hi-text > p:last-child {
    font-size: 2em;
    font-weight: 600;
}

.avatar {
    background-color: var(--background-color);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.avatar > img {
    height: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.actions {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
}

.actions button {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
    font-size: 1.1em;
}

.content {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    background-color: var(--background-color);
}

.content-left {
    display: grid;
    grid-template: 50px 1fr / 1fr;
    padding-bottom: 50px;
}

.content-left > h3 {
    margin-top: auto;
    margin-left: 15px;
}

.main-content {
    padding: 15px;
    display: grid;
    gap: 15px;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

.article {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: white;
}

.article-action {
    margin-top: auto;
    align-self: flex-end;
}

.side-content {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-top: 15px;
}

.side-article {
    display: grid;
    grid-template: 50px 1fr / 1fr;
    padding: 0 0 15px 0;
}

.side-article > h3 {
    margin-top: auto;
    margin-bottom: 15px;
}

.announcements {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    background-color: white;
}

.announcements > div {
    padding: 15px;
}

.announcements > div > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.trending {
    display: grid;
    grid-template: repeat(4, 1fr) / 1fr;
    background-color: white;
    padding: 15px;
    gap: 15px;
}

.trending > div {
    display: flex;
    gap: 10px;
}